body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
  background-image: url("images/table.jpg");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 200px;
  background: goldenrod;
  padding: 1% 2%;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin: 2% 1%;
}

button:hover {
  background-color: rgb(183, 138, 22);
}

.game-container {
  padding-top: 15%;
}
